*{
    margin: 0;
    padding: 0;
}

.navbar{

}
.navbar-brand{

}
a{
    color: #fff;
}
.nav-link{
    color: white;
}
.search1{

}
.first{

}
.first-search{

}
.run{
    background-image: url(../images/banner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    min-height: 85vh;
}
.content1 h1{

font-size: 50px;
color: #fff;
}
.rr{
    
height: 548px;
}
.btn-custom {
    color: #fff;
    border: 1px solid white;
    margin-left: 185px;
    margin-top: 25px;
}
.btn-custom:hover{
    color: #fff;
    border: 1px solid #dc3545;
    background: black;
}
h3 {
    padding: 30px 0;
}
h4 {
    padding: 25px 0;
}
.mid-banner{
    background-image:   url(../images/banner-two.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}
.mid-banner h1{

color: #fff;

padding-bottom: 77px;

margin-top: 138px;
}
.mid-banner p{
    
color: #fff;
}
.features .four-items{

}
.features-h1{
    
padding: 80px 0;
    
text-align: center;
}
.features-h1 i{
    
font-size: 50px;
}

